<mat-toolbar color="primary">
    <mat-icon>menu</mat-icon>
    <span>From Pro App</span>
    <button mat-raised-button color="primary" routerLink="/"><span>Home</span></button>
    <button mat-raised-button color="accent" routerLink="/simpleFrom"><span>Simple From</span></button>
    <button mat-raised-button color="primary" routerLink="/singleFile"><span>Single File From</span></button>
    <button mat-raised-button color="accent" routerLink="/multipleFile"><span>Multiple File From</span></button>

</mat-toolbar>